body{
    background-color: #ffffff!important;
}
.app{
    display: flex;
    justify-content: space-around;
}
@media only screen and (max-width : 900px)  { 

    .giris-ekrani{
        margin-top: 20px;
        background-image: url("images/giris.png");
        background-color: white;
        background-repeat: no-repeat;
        background-position:  center center;
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
	    position:fixed;
	    width:90%;
        height:95%;
        border-radius: 25px;

    }
    .ui[class*="left labeled"].button>.label {
        border-radius: 5px!important;
    }
    a.ui.basic.label:hover{
        color:red
    }

    .altbar{
        display: flex;
        justify-content: space-evenly;
        background-color: #5E5D65;
        bottom:20px;
	    position:fixed;
	    width:90%;
        height:7%;
        border-radius: 15px;
    }
    .altbar .altbar-button{
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .altbar .altbar-button .altbar-link{
        width: 30px!important;
        height: 30px!important;
        display: flex;
        align-items: center;
        justify-content: center;
        color:black;
    } 

    
    .altbar .altbar-button .altbar-link svg{
        font-size:1.5em!important;
    } 

    .altbar .altbar-button .altbar-link.location{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:-4px!important;
        font-size:1em!important;
    } 


    .altbar .altbar-button :hover{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 40px!important;
        height: 40px!important;
        font-size: 0.5em!important;
        background-color: #ffffff!important;
        fill: maroon;

    }

    .ustbar{
        display: flex;
        justify-content: space-between;
        top:20px;
	    position:fixed;
	    width:90%;
        height:45px;
        border-radius: 15px;
    }
    .ustbar .ustbar-button{
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .ustbar .ustbar-button.three-line{
        font-size: 45px;
    }
    
    .ortaalan{
        display: flex;
        justify-content: center;
        background-color: #5E5D65;
        bottom:100px;
	    position:fixed;
	    width:85%;
        height:75%;
        border-radius: 50px;
    }
    .ortaalan .ortaalanText{
        font-size: 25px;
        display: flex;
        align-items: center;
    }

    
}