body{
  background-color: #ffffff!important;
}
:root{
  --birincil:#004359ff;
  --light:#008dbdff;
  --ikincil:#24c7ffff;
  --overlay:#dedddaff;

}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
@media only screen and (max-width : 900px)  { 
  .giris-ekrani {
      background-image: url(./images/giris.png);
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: 50%;
      background-attachment: fixed;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 93vw;
      height: 96vh;
      border-radius: 10px;
  }
  .ui[class*="left labeled"].button>.label {
      border-radius: 5px!important;
  }
  a.ui.basic.label:hover{
      color:red
  }
  .altbar {
    display: flex;
    justify-content: space-around;
    background-color: var(--birincil);
    width: 100% ;
    height: 8vh;
    border-radius: 15px 15px 0 0;
    z-index: 10000;
    position: absolute;
    background: radial-gradient(#1244588f, #124458ab);
    backdrop-filter: blur(9px);
    bottom: 0;
}

.altbar .altbar-link{
    display: flex;
    align-items: center;
    flex-grow: 2;
    padding: 1em;
}

.altbar .altbar-link .altbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--ikincil);
    padding: .75em;

} 


.altbar  .altbar-link .altbar-button svg{
    font-size:1.5em!important;
    width: 100%; 
    height: 100%;
  z-index: 1;
} 
.altbar .altbar-link .altbar-button:before {
  background: rgba(192,216,223,.47843137254901963);
  width: 0;
  height: 0;
  top: 50%;
  -webkit-filter: blur(9px);
  filter: blur(9px);
  transition: all 250ms ease-in-out;
}
.altbar .altbar-link.active svg {
  fill: white;
}

.altbar .altbar-link.active .altbar-button:before {
  width: 50%;
  height: 50%;
}
.altbar  .altbar-link .altbar-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
} 
.altbar .altbar-link.active .altbar-button, .altbar .altbar-link:hover .altbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #00000024!important;
  fill: #24c7ff;
  fill: var(--ikincil);
}
.altbar .altbar-link:hover .altbar-button, .altbar .altbar-link.active .altbar-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #00202aff!important;
    fill: var(--ikincil);
}

.altbar .altbar-link.active .altbar-button::before {
  content: "";
  background: #c0d8df7a;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 0;
  filter: blur(9px);
}

.altbar .altbar-link.active .altbar-button:after {
content: "";
background: #4cc6fb;
width: 5px;
height: 2px;
left: 50%;
bottom: 15%;
position: absolute;
transform: translate(-50%, -50%);
z-index: 0;
border: #8be1fe;
border-radius: 5em;
}
  .ustbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-radius: 0 0 15px 15px;
    width: 100%;
    padding: 0 1em;
    z-index: 2;
    background: linear-gradient(180deg, #0a0905, #bfb9b900);
    position:absolute;
    left: 0;
    top:0;
    backdrop-filter: blur(8px);
    background: radial-gradient(#c2c2c261, #ffffff8c);
}
  .ustbar .ustbar-button{
      display: flex;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
  }

  .ustbar .ustbar-button.three-line{
      font-size: 45px;
  }
  
  .ustbar .ustbar-name img{
      height: 25px;
  }

  .ustbar .city-button{
    padding: 5px;
      height: 30px;
      color:var(--birincil);
      border-radius: 10px;
      border: 2px solid var(--birincil);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bolder;
      }
  .ustbar .city-button i{
      margin-bottom: 5px;
  }
  .ortaalan {    
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start!important;
    width: 100%!important;
    height: 80vh!important;
    flex-grow: 2;
    overflow-y:overlay;
    overflow-x:hidden;
    padding-bottom: 10vh;
    background-color: #d1d1d1;
}
  .ortaalan .ortaalanText{
      font-size: 25px;
      display: flex;
      align-items: center;
  }
    .ortaalan .cover {
      height: 30vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      background-color: #74E2FF;
      border-radius: 0 0 20px 20px;
      width: 100vw;
      height: 45vh;
      margin-bottom: 3em;
      background: url(https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1519&q=80);
      background-position: top;
      background-size: cover;
      position: relative;
  }

  .ortaalan .cover .title{
    height: 45vh;
    align-items: flex-end;
    margin-bottom: 2em;
  }

  .ortaalan .cover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10em;
    border-radius: 20px;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #04212d, transparent);
    z-index: 0;
}
.ortaalan .not-found{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.ortaalan .yerler-detay-cover {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #74E2FF;
  border-radius: 0 0 68px 68px;
  width: 100vw;
  height: 45vh;
  margin-bottom: 3em;
  background: url(https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1519&q=80);
  background-position: top;
  background-size: cover;
  position: relative;
}
.ortaalan .yerler-detay-cover::before {
content: "";
position: absolute;
width: 100%;
height: 10em;
border-radius: 80px;
bottom: 0;
left: 0;
background: linear-gradient(0deg, #04212d, transparent);
z-index: 0;
}


.yerler-detay-ortaalan{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yerler-detay-ortaalan .yerler-spot{
  width: 90%;
  height: auto;
  border-left: 5px solid var(--birincil);
}
.yerler-detay-ortaalan .yerler-spot .yerler-spot-yazi{
  margin-left: 10px;
  color: var(--birincil);
  font-weight: bold;
}

.yerler-detay-ortaalan .mini-slider .swiper{
  height: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.yerler-detay-ortaalan .yerler-mini-slider{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yerler-detay-ortaalan .yerler-mini-slider .mini-slider{
  height: 80px;
  width: 80%;
  padding: 10px;
  margin: 20px 0 20px 0;
  background-color: var(--birincil);
  overflow: hidden;
  border-radius: 18px;
}
.yerler-detay-ortaalan .iki-sira-swiper{
  width: 90%;
}

.yerler-detay-ortaalan .iletisim .fa-primary{
  fill:var(--birincil)
}
.yerler-detay-ortaalan .iletisim .fa-secondary{
  fill:var(--ikincil)
}
.yerler-detay-ortaalan .iletisim .iletisim-bilgi{
  display: flex;
  flex-direction: column;
}

.yerler-detay-ortaalan .iletisim .iletisim-bilgi svg{
  margin: 5px;
}

.yerler-detay-ortaalan .iletisim .koyu{
  font-weight: bold;
  color: var(--birincil);
}


.yerler-detay-ortaalan .iletisim{
  padding: 30px;
    background-color: darkgray;
    border-radius: 18px;
    width: 90%;
}

.yerler-detay-ortaalan .iletisim .iletisim-detay{
  color: var(--light);
}

.yerler-detay-ortaalan .iletisim .iletisim-baslik{
  color:var(--birincil);
  margin-left: 15px;
}

.yerler-detay-ortaalan .iletisim span{
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 5px;
}

.yerler-detay-ortaalan .iletisim svg{
  font-size: 1em;
}

.yerler-detay-cover .iletisim .konum-alt-icon{
  font-size: 0.6em;
}
.yerler-detay-ortaalan .detay-yazi{
  margin-left: 10px;
  color: black;
  font-weight: bold;
  padding: 15px;
  font-size: 16px;
}
.yerler-detay-cover .cover-baslik{
  margin: 40px 40px 50px 40px;
}
.yerler-detay-cover .cover-baslik .kategori{
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  border: 1px solid white;
  width: 80px;
}

.yerler-detay-cover .cover-baslik .baslik{
  font-size: 33px;
  width: 160px;
  line-height: 40px;
  font-weight: bolder;
  margin-top: 10px;
}

.yerler-detay-cover .konum{
  width: 50px;
  height: 100px;
  z-index: 1;
  position: absolute;
  right: 35px;
  bottom: 60px;
  border: 1px solid white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color:white;

}
.yerler-detay-cover .konum .konum-ust-icon{
  font-size: 0.5em;
}
.yerler-detay-cover .konum .konum-alt-icon{
  font-size: 0.3em;
}
.yerler-detay-cover .fa-primary{
  color: white!important;
}

.yerler-detay-cover .fa-secondary{
  color:white!important;
}

.yerler-detay-cover .cover-baslik .kategori .kategori-adi, .yerler-detay-cover .cover-baslik .baslik{
  color:white;
}
.yerler-detay-cover .cover-baslik .kategori div, .yerler-detay-cover .cover-baslik .kategori, .yerler-detay-cover .cover-baslik .baslik{
  z-index: 35;
}

.yerler-detay-cover .cover-baslik .kategori svg{
  font-size: 1em;
  color: white;
}
.yerler-detay-cover .cover-baslik .kategori svg{
  fill:white;
}


.ortaalan .mini-slider .mySwiper2 .swiper-slide img{
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #74E2FF;
  border-radius: 0 0 20px 20px;
  width: 100vw;
  height: 45vh;
  margin-bottom: 3em;
  
  background-position: top;
  background-size: cover;
  position: relative;
}


.ortaalan .mini-slider .swiper-slide{
  border-radius: 18px;
  width: 50px;
  height: 50px;
}
.ortaalan .mini-slider .swiper-wrapper{
  align-items: center;
}
.ortaalan .mini-slider .swiper-slide img{
  border-radius: 18px;
}




.ortaalan .semt-swiper .swiper-slide .semt-adi-ust, .ortaalan .semt-swiper .swiper-slide .semt-adi-alt{
  border-radius: 10px;
  width: 100%;
  height: 20%;
  background-color: var(--ikincil)!important;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--birincil);
  font-weight: 900;
  text-transform:uppercase;
  font-size:12px;
}

.semt-swiper{
  margin-bottom: 20px;
}
.semt-swiper .semt-baslik{  
  font-size: 35px;
  margin: 20px;
  color: var(--birincil);
  font-weight: bolder;
}
.ortaalan .semt-swiper .swiper-wrapper .swiper-slide{
  align-items: center;
  background-color:transparent;
}
.ortaalan .semt-swiper .swiper-slide img{
  border-radius: 18px;
}
.semt-swiper .swiper{
  width:100%;
  height: 100%;
}

.semt-swiper .swiper-slide .semt-baslik-ust{
  width:30%!important;
  border-radius: 10px!important;
  height: 15%!important;
}


  .ortaalan .ara{
    background: #BBDADF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 50px;
    margin-bottom: -1.5em;
    z-index: 1;
    box-shadow: 0 0 16px 16px #2626267d;
    width: 80%; 
}

.ortaalan .title{
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  width: 100%;
}

.ortaalan .title h2 {
  color: white;
  text-shadow: 4px 4px 11px #000000;
}

.ortaalan .title span{
 height: 40px;
 width: 64xp;
 background: var(--birincil);
 border-radius: .5em;
 padding: 10px;
 color: white;
}

.ortaalan .ara input{
  background: transparent;
  border:none;
}
    
#app {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper {
    width: 240px;
    height: 200px;
    margin-bottom: 10px;
    overflow: visible !important;
  }
  .swiper-wrapper{
    align-items: center;
  }

  
  .kategoriler-swiper-2{
    margin-bottom: 20px;
    width: 100%;
    margin-top: 20px;
  } 
  .kategoriler-swiper-2 .all-collections-container{
    margin-bottom: 0!important;
  }
  .kategoriler-swiper-2 .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    width: 50%!important;
    height: 60%!important;
    flex-direction: column;
    left:-25%;
    background-color: var(--birincil);
  }
  .kategoriler-swiper-2 .swiper-slide .kategoriler-alt{
    background-color: var(--ikincil);
    color: var(--birincil);
    font-size: 15px;
    font-weight: 200;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 45px;
    border-radius: 18px 0 18px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .kategoriler-swiper-2 .swiper-slide .kategoriler-ust{
    background-color: var(--birincil);
    height: 100%;
    width: 100%;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .kategoriler-swiper-2 .swiper-slide .kategoriler-ust i{
    margin-bottom: 35%;
  }

  .haberler-swiper .swiper-slide{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin: 10px 0;
    background-color: transparent!important;
  }
  .haberler-swiper .swiper-slide .haberler-alt{
    background-color: white;
    color: var(--birincil);
    font-size: 15px;
    font-weight: 200;
    width: 100%;
    height: 90%;
    border-radius: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  .haberler-swiper .swiper-slide .haberler-ust{
    background-color: var(--birincil);
    height: 70%;
    width: 100%;
    border-radius: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    top: 0;
    z-index: 1000;
  }
  .haberler-sirala{
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .haberler-sirala .haberler-container{
    width: 180px;
    height: 175px;
    display: flex;
    align-items: flex-start;
    position: relative;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin: 10px 0;
  }
  .haberler-sirala .haberler-container .haberler-alt{
    background-color: white;
    color: var(--birincil);
    font-size: 15px;
    font-weight: 200;
    width: 180px;
    position: absolute;
    height: 100%;
    border-radius: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 12px;
  }

  .haberler-sirala .haberler-container .haberler-ust{
    background-color: var(--birincil);
    height: 75%;
    width: 180px;
    border-radius: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 1;
    margin-bottom: 45px;
  }

  .haberler-sirala a{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .haberler-sirala .haberler-container .haberler-ust .haberler-sirala-tarih, .haberler-swiper .haberler-swiper-tarih{
    margin: 10px;
  }

  .haberler-sirala .haberler-sirala-baslik{
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
  }
  .haberler-swiper .haberler-swiper-baslik{
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    padding: 10px;
  }

  .kategoriler-sirala{
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .kategoriler-sirala .kategoriler-container{
    width: 160px;
    height: 150px;
    display: flex;
    align-items: flex-end;
    position: relative;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin: 10px 0;
    justify-content: center;
  }
  .kategoriler-sirala .kategoriler-container .kategoriler-alt{
    background-color: var(--ikincil);
    color: var(--birincil);
    font-size: 15px;
    font-weight: 200;
    width: 88%;
    position: absolute;
    height: 60px;
    border-radius: 18px 0 18px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .kategoriler-sirala .kategoriler-container .kategoriler-ust{
    background-color: var(--birincil);
    height: 70%;
    width: 140px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin-bottom: 30px;
  }


  .background-icon{
    position: absolute;
    top: 10px;
    left: 40px;
    width: 70px;
    height: 70px;
  }
  .background-icon svg{
    font-size: 6em;;
    opacity: 0.3;
  }
  .background-icon .background-baslik{
    position: absolute;
    top: 20px;
    left: 50px;
    color: var(--birincil);
    font-size: 30px;
  }
  .iki-sira-swiper .background-icon{
    top: 20px;
    left: 20px;
  }
  .iki-sira-swiper .background-icon svg{
    font-size: 6em;;
    opacity: 0.3;
  }

  .iki-sira-swiper .background-baslik{
    font-size: 40px;
    width: max-content;
  }
  

  .background-icon .fa-primary{
    fill:var(--birincil);
  }
  .background-icon .fa-secondary{
    fill:var(--ikincil);
  }


  .rotalar-swiper{
    padding-top: 60px;
    position: relative;
  }
  .rotalar-swiper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    width: 100%!important;
    height: 60%!important;
  }

  .rotalar-swiper .swiper-slide .rotalar-baslik{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    z-index: 1;
    margin: 5%;
    margin-bottom: 15%;
  }
  .rotalar-swiper .swiper-slide::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3em;
    border-radius: 0 0 20px 20px;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #04212d, transparent);
    z-index: 0;
  }

  .yerler-swiper .swiper-slide{
    display: flex;
    border-radius: 18px;
    margin-right: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    width: 60%!important;
    height: 100%!important;
    left:-25%;
    position: relative;
  }

  .yerler-swiper .swiper-slide::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5em;
    border-radius: 0 0 20px 20px;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #04212d, transparent);
    z-index: 0;
  }

  
.yerler-swiper .yerler-swiper-kategori, .yerler-sirala .yerler-sirala-kategori{
  display: flex;
  margin: 10px 10px 0 0;
  color:var(--birincil);
}

.yerler-swiper .yerler-swiper-kategori .yerler-swiper-kategori-icon svg, .yerler-sirala a .yerler-sirala-kategori .yerler-sirala-kategori-icon svg{
  font-size: 0.5em;
  margin-left: 10px;
}

.yerler-swiper .yerler-swiper-kategori .yerler-swiper-kategori-icon-adi, .yerler-sirala a .yerler-sirala-kategori .yerler-sirala-kategori-icon-adi{  
  margin-left: 10px;
  font-size: 15px;
}
.yerler-swiper .yerler-swiper-baslik{
  margin: 15px;
  z-index: 1;
  font-size: 20px;
}

.yerler-sirala a .yerler-sirala-baslik{
  margin: 15px;
  z-index: 1;
  font-size: 20px;
  position: absolute;
  bottom: 5px;
}

.yerler-swiper .yerler-swiper-kategori-adi, .yerler-sirala a .yerler-sirala-kategori-adi{
  font-size: 15px;
  margin-top: 3px;
  margin-left: 5px;
}

.yerler-swiper.yerler-types{
  margin-bottom: 30px;
}

.yerler-swiper .yerler-types-baslik{
  width: 80%;
  margin-top: 20px;
}

.yerler-swiper.yerler-types .yerler-types-baslik-container{
    width: 100%;
    height: 25%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    color: var(--birincil);
    font-weight: 900;
}




.yerler-sirala a{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
}

.yerler-sirala a .yerler-container{
  display: flex;
    align-items: flex-start;
    width: 100%!important;
    background-color: var(--ikincil);
    display: flex;
    border-radius: 18px;
    margin: 20px;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    height: 100%!important;
    position: relative;
  }

  .yerler-sirala a .yerler-container::after{
    content: "";
    width: 100%;
    height: 5em;
    border-radius: 0 0 20px 20px;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #04212d, transparent);
    z-index: 0;
  }

.yerler-sirala{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 70px;
}



  .koleksiyonlar-sirala{
    margin-top: 85px;
    height: 86%;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .koleksiyonlar-sirala .koleksiyonlar-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    width: 90%;
    height: 50%;
    left:-25%;
    flex-wrap: wrap;
    background-color: var(--ikincil);
    margin: 10px 0;
    box-shadow: 0 0 22px 4px black;
  }

  .koleksiyonlar-sirala .koleksiyon-sirala-ust{
    height: 80%;
    width: 95%;
    background-color: var(--light);
    position: relative;
    top: 2%;
    border-radius: 18px;
  }

  .koleksiyonlar-sirala .koleksiyon-sirala-ust img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
  }

  .koleksiyonlar-sirala .koleksiyon-sirala-alt{
    width: 95%;
    height: 10%;
    background-color: var(--light);
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
  }
  .koleksiyonlar-sirala .koleksiyon-sirala-alt-baslik{
    width: 75%;
    height: 80%;
    line-height: 1.2em;
    height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
  }

  .koleksiyonlar-sirala a {
    width: 15%;
    height: 80%;
    background-color: var(--ikincil);
    border-radius: 10px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 22px 4px var(--birincil);
  }

  .koleksiyonlar-sirala a .koleksiyon-sirala-buton .fa-primary{
    fill:var(--birincil);
  }
  .koleksiyonlar-sirala a .koleksiyon-sirala-buton .fa-secondary{
    fill:var(--light);
  }


  .iki-sira-swiper{
    position: relative;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 25px;
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: -15px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10%;
    height: 420px;
  }
  .iki-sira-swiper .swiper{
    height: 100%;
  }

  .iki-sira-swiper .swiper-slide {
    background-color: transparent!important;
    height: 300px;
    margin-top: auto;
  }
  .iki-sira-swiper .swiper-wrapper {
    height: 100%;
  }
  .iki-sira-swiper .swiper-slide .iki-sira-ust, .iki-sira-swiper .swiper-slide .iki-sira-alt{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    width: 100%!important;
    height: 45%!important;
    left: -10%;
    background-color: #24c7ff;
    margin: 10px;
  }
  .kategoriler-scrolling-carousel{
    margin-bottom: 130px;
  }

  .kategoriler-scrolling-carousel .swiper-slide{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-top: 60px;
    height: 150%;
  }

  .kategoriler-scrolling-carousel .swiper-slide::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5em;
    border-radius: 0 0 20px 20px;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #04212d, transparent);
    z-index: 35;
  }

  .kategoriler-scrolling-carousel .swiper-slide img{
    border-radius: 15px;
    height: 100%;
    position: relative;
  }

  .kategoriler-scrolling-carousel .koleksiyon-swiper-baslik{
    position: absolute;
    z-index: 1000;
    margin: 20px;
    line-height: 1.2em;
    height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    width: 85%;
  }

  .kategoriler-scrolling-carousel .anavitrin-koleksiyon-baslik-container{
    width: 100%;
    height: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .kategoriler-scrolling-carousel .anavitrin-koleksiyon-baslik{
    width: 75%;
    line-height: 1.2em;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    font-size: 30px;
    color: var(--birincil);
    font-weight: 900;
    margin-top: 30px;
  }
  .kategoriler-scrolling-carousel .anavitrin-koleksiyon-spot{
    width: 75%;
    line-height: 1.2em;
    height: 3.6em;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    color: gray;
  }

  .vitrin-koleksiyon{
    margin-bottom: 60px;
  }

  .vitrin-koleksiyon .swiper-slide{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-top: 60px;
    height: 150%;
  }

  .vitrin-koleksiyon .swiper-slide::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5em;
    border-radius: 0 0 20px 20px;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #04212d, transparent);
    z-index: 35;
  }

  .vitrin-koleksiyon .swiper-slide img{
    border-radius: 15px;
    height: 100%;
    position: relative;
  }

  .vitrin-koleksiyon .vitrin-koleksiyon-swiper-baslik{
    position: absolute;
    z-index: 1000;
    margin: 20px;
    line-height: 1.2em;
    height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    width: 85%;
  }





  .etkinlikler{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .etkinlikler-sirala{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .etkinlikler a, .etkinlikler-sirala a{
    width: 100%; 
    display: flex;
    justify-content: center;
  }
  .etkinlikler .all-collections-container, .etkinlikler-sirala .all-collections-container{
    width: 100%;
  }
  .etkinlikler .etkinlikler-satir, .etkinlikler-sirala .etkinlikler-satir{
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    height: 80px;
    background: #ffffff;
    margin-bottom: 15px;
    border-radius: 10px;
  }

  .etkinlikler .etkinlikler-satir::before, .etkinlikler-sirala .etkinlikler-satir::before{    
    content: "";
    position: absolute;
    width: 45%;
    height: 100%;
    border-radius: 10px;
    bottom: 0;
    right: 0;
    background: linear-gradient(-90deg, #04212d, transparent);
    z-index: 0;
}
.etkinlikler .etkinlikler-satir .tarih, .etkinlikler-sirala .etkinlikler-satir .tarih{
  display: flex;
  align-items: center;
  width: 115px;
  color: var(--birincil);
  margin-left: 10px;
}
.etkinlikler .etkinlik-adi, .etkinlikler-sirala .etkinlik-adi{
  font-size: 20px;
  margin-top: 0;
  margin-left: 15px;
  color: var(--birincil);
      line-height: 1.2em;
      height: 1.2em;
      overflow: hidden;
      white-space: nowrap;
      display: block;
      text-overflow: ellipsis;
      width: 55%;
}
.etkinlikler .tarih h2, .etkinlikler-sirala .tarih h2{
  font-size: 51px;
  margin-bottom: 0;
  margin-right: 5px;
  margin-left: 5px;
}
.etkinlikler .tarih h3, .etkinlikler-sirala .tarih h3{
  margin-top: 0;
  font-size: 15px;
}

.etkinlikler .tarih h4, .etkinlikler-sirala .tarih h4{
  margin-bottom: 0;
  font-size: 20px;
}


  .swiper-slide{
    background-color: var(--ikincil);
  }
  .all-collections-container{
    display: flex;    
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .all-collections{
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 25px;
    width: 130px;
    background-color: #74E2FF;    
    white-space: nowrap; /* Yazıyı tek satırla sınırlandırıyoruz */
    overflow:hidden; /* Verilen genişlikten (150px) artanı gizlemesini istiyoruz */
    text-overflow:clip; 
    border-radius: 50px;
    margin-bottom: 10px;
  }

  .all-collections span{
    font-size: 10px;
  }
  .all-collections:hover{
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 25px;
    width: 130px;
    background-color:#04212d;
    color: #74E2FF;
    white-space: nowrap; /* Yazıyı tek satırla sınırlandırıyoruz */
    overflow:hidden; /* Verilen genişlikten (150px) artanı gizlemesini istiyoruz */
    text-overflow:clip; 
    border-radius: 50px;
    margin-bottom: 10px;
    fill: #74E2FF;
  }

  .all-collections svg{
    height: inherit;
    padding: 2px;
  }
  

  .hava-durumu{
    height: 80px;
    width: 150px;
    background: var(--birincil);
    border-radius: 1em;
    padding: 10px;
    color: white;
   column-count: 1;
   position: relative;
  }
  .hava-durumu-derece{
    margin:0;
    font-size: 20px;
    font-weight: 600;
  }
  .hava-durumu-sehir{
    margin:0;
    font-size: 10px;
    font-weight: 100;
  }
  .hava-durumu-durum{
    margin:0;
    font-size: 15px;
    font-weight: 400;
  }
  .hava-durumu-icon{
    position:absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    opacity: 0.5;
  }
}