body{
  background-color: #d1d1d1!important;
}
:root{
  --birincil:#004359ff;
  --light:#008dbdff;
  --ikincil:#24c7ffff;
  --overlay:#dedddaff;

}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
@media only screen and (max-width : 900px)  { 

  .giris-ekrani {
      background-image: url(./images/giris.png);
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: 50%;
      background-attachment: fixed;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 93vw;
      height: 96vh;
      border-radius: 10px;
  }
  .ui[class*="left labeled"].button>.label {
      border-radius: 5px!important;
  }
  a.ui.basic.label:hover{
      color:red
  }
  .altbar {
    display: flex;
    justify-content: space-around;
    background-color: var(--birincil);
    width: calc(100% - 2em);
    height: 10vh;
    margin: 0 1em 1em 1em;
    border-radius: 15px;
    z-index: 10000;
    position: absolute;
    background: radial-gradient(#1244588f, #124458ab);
    backdrop-filter: blur(9px);
    bottom: 0;
}

.altbar .altbar-link{
    display: flex;
    align-items: center;
    flex-grow: 2;
    padding: 1em;
}

.altbar .altbar-link .altbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--ikincil);
    padding: .75em;

} 


.altbar  .altbar-link .altbar-button svg{
    font-size:1.5em!important;
    width: 100%; 
    height: 100%;
  z-index: 1;
} 

.altbar  .altbar-link .altbar-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
} 

.altbar .altbar-link:hover .altbar-button, .altbar .altbar-link.active .altbar-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #00202aff!important;
    fill: var(--ikincil);
}

.altbar .altbar-link.active .altbar-button::before {
  content: "";
  background: #c0d8df7a;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 0;
  filter: blur(9px);
}

.altbar .altbar-link.active .altbar-button:after {
content: "";
background: #4cc6fb;
width: 5px;
height: 2px;
left: 50%;
bottom: 15%;
position: absolute;
transform: translate(-50%, -50%);
z-index: 0;
border: #8be1fe;
border-radius: 5em;
}
  .ustbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-radius: 0 0 15px 15px;
    width: 100%;
    padding: 0 1em;
    z-index: 2;
    background: linear-gradient(180deg, #0a0905, #bfb9b900);
    position:absolute;
    left: 0;
    top:0;
    backdrop-filter: blur(8px);
    background: radial-gradient(#c2c2c261, #ffffff8c);
}
  .ustbar .ustbar-button{
      display: flex;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
  }

  .ustbar .ustbar-button.three-line{
      font-size: 45px;
  }
  
  .ustbar .ustbar-name img{
      height: 25px;
  }

  .ustbar .city-button{
    padding: 5px;
      height: 30px;
      color:#74E2FF;
      border-radius: 10px;
      border: 2px solid #74E2FF;
      display: flex;
      justify-content: center;
      align-items: center;
      }
  .ustbar .city-button i{
      margin-bottom: 5px;
  }
  .ortaalan {    
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start!important;
    width: 100%!important;
    height: 80vh!important;
    flex-grow: 2;
    overflow-y:scroll;
    overflow-x:hidden;
    padding-bottom: 10vh;
}
  .ortaalan .ortaalanText{
      font-size: 25px;
      display: flex;
      align-items: center;
  }
    .ortaalan .cover {
      height: 30vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      background-color: #74E2FF;
      border-radius: 0 0 20px 20px;
      width: 100vw;
      height: 45vh;
      margin-bottom: 3em;
      background: url(https://images.unsplash.com/photo-1508672019048-805c876b67e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1519&q=80);
      background-position: top;
      background-size: cover;
      position: relative;
  }

  .ortaalan .cover .title{
    height: 45vh;
    align-items: flex-end;
    margin-bottom: 2em;
  }

  .ortaalan .cover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10em;
    border-radius: 20px;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #04212d, transparent);
    z-index: 0;
}

  .ortaalan .ara{
    background: #BBDADF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 50px;
    margin-bottom: -1.5em;
    z-index: 1;
}

.ortaalan .title{
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  width: 100%;
}

.ortaalan .title h2 {
  color: white;
  text-shadow: 4px 4px 11px #000000;
}

.ortaalan .title span{
 height: 40px;
 width: 64xp;
 background: var(--birincil);
 border-radius: .5em;
 padding: 10px;
 color: white;
}

.ortaalan .ara input{
  background: transparent;
  border:none;
}
    
#app {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper {
    width: 240px;
    height: 200px;
    margin-bottom: 10px;
    overflow: visible !important;
  }
  .kategoriler-swiper-2 .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    width: 50%!important;
    height: 60%!important;
    flex-direction: column;
  }
  .kategoriler-swiper-2 .swiper-slide .kategoriler-alt{
    background-color: var(--ikincil);
    color: var(--birincil);
    font-size: 15px;
    font-weight: 200;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 45px;
    border-radius: 18px 0 18px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .kategoriler-swiper-2 .swiper-slide .kategoriler-ust{
    background-color: var(--birincil);
    height: 100%;
    width: 100%;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .haberler-swiper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    width: 70%!important;
    height: 80%!important;
    flex-direction: column;
  }
  .haberler-swiper .swiper-slide .haberler-alt{
    background-color: white;
    color: var(--birincil);
    font-size: 15px;
    font-weight: 200;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 70px;
    border-radius: 18px 18px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .haberler-swiper .swiper-slide .haberler-ust{
    background-color: var(--birincil);
    height: 100%;
    width: 100%;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .rotalar-swiper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    width: 100%!important;
    height: 60%!important;
  }
  .yerler-swiper .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    width: 60%!important;
    height: 100%!important;
  }
  .vitrin-koleksiyon .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  .kategoriler-scrolling-carousel .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  .kategoriler-scrolling-carousel .swiper-slide img{
    border-radius: 15px;
  }
  .swiper-slide:nth-child(1n) {
    background-color: var(--birincil);
  }
  
  .swiper-slide:nth-child(2n) {
    background-color: var(--light);
  }
  
  .swiper-slide:nth-child(3n) {
    background-color: var(--ikincil);
  }
  
  .swiper-slide:nth-child(4n) {
    background-color: var(--birincil);
  }
  
  .swiper-slide:nth-child(5n) {
    background-color: var(--light);
  }
  
  .swiper-slide:nth-child(6n) {
    background-color: var(--ikincil);
  }
  
  .swiper-slide:nth-child(7n) {
    background-color: var(--birincil);
  }
  
  .swiper-slide:nth-child(8n) {
    background-color: var(--light);
  }
  
  .swiper-slide:nth-child(9n) {
    background-color: var(--ikincil);
  }
  
  .swiper-slide:nth-child(10n) {
    background-color: var(--birincil);
  }
  .all-collections-container{
    display: flex;    
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
  .all-collections{
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 25px;
    width: 130px;
    background-color: #74E2FF;    
    white-space: nowrap; /* Yazıyı tek satırla sınırlandırıyoruz */
    overflow:hidden; /* Verilen genişlikten (150px) artanı gizlemesini istiyoruz */
    text-overflow:clip; 
    border-radius: 50px;
    margin-bottom: 10px;
  }

  .all-collections span{
    font-size: 10px;
  }
  .all-collections:hover{
    padding-left: 10px;
    display: flex;
    align-items: center;
    height: 25px;
    width: 130px;
    background-color:#04212d;
    color: #74E2FF;
    white-space: nowrap; /* Yazıyı tek satırla sınırlandırıyoruz */
    overflow:hidden; /* Verilen genişlikten (150px) artanı gizlemesini istiyoruz */
    text-overflow:clip; 
    border-radius: 50px;
    margin-bottom: 10px;
    fill: #74E2FF;
  }

  .all-collections svg{
    height: inherit;
    padding: 2px;
  }
  .kategoriler-scrolling-carousel{
    margin-bottom: 20px;
  }
  .kategoriler-swiper-2{
    margin-bottom: 20px;
    width: 100%;
  }

  .hava-durumu{
    height: 80px;
    width: 150px;
    background: var(--birincil);
    border-radius: 1em;
    padding: 10px;
    color: white;
   column-count: 1;
   position: relative;
  }
  .hava-durumu-derece{
    margin:0;
    font-size: 20px;
    font-weight: 600;
  }
  .hava-durumu-sehir{
    margin:0;
    font-size: 10px;
    font-weight: 100;
  }
  .hava-durumu-durum{
    margin:0;
    font-size: 15px;
    font-weight: 400;
  }
  .hava-durumu-icon{
    position:absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    opacity: 0.5;
  }
}